.monitor_body {
  background-color: #aebfb7;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

@media only screen and (min-width: 768px) and (max-height: 1024px) { /*ipad*/
  .monitor_body {
    max-width: 768px;
    left:50%;
    margin-left: -384px;
    border-radius: 0px; 
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) { /*ipad pro*/
  .monitor_body {
    max-width: 1024px;
    left:0%;
    margin-left: auto;
    border-radius: 0px; 
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1200px) {  /*for computer*/
  .monitor_body {
    max-width: 425px;
    left:50%;
    margin-left: -212.5px;
    border-radius: 12px; 
  }  
}

.monitor_top1 {  /*wea_pic*/
  height: 10vh;
}

.monitor_wea_pic{
  padding-top:3vh;
  width: 50px;
  left:50%;
  margin-left: -25px;
}

.monitor_top2{
  text-align: center;
  left:1vw;
  font-size: 18px;
}

.monitor_top3 {    /*monitor status*/
  height: 10vh;
  font-size: 29px;
  text-align: center;
  font-weight: bold;
  color: white;
  position: absolute;
}

.monitor_background{
  top: 8vh;
  width:310px;
  height: 220px;
  border-radius: 12px; 
  left: 50%;
  margin-left: -155px;
  background-color:#CCCCCC;
  opacity:0.7;
  position: relative;
}

.monitor_light{
  top: 1.8vh; 
  width:150px;
  height: 190px;
  left: 0.5vw;
  border-radius: 12px; 
  background-image: linear-gradient(to bottom, #008b8b, #ffff00);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
}

.monitor_light2{
  top:1vh;
  position: relative;
  text-decoration:underline;
}

.monitor_light_pic{
  top:2vh;
  width:70px;
  height: 70px;
  position: relative;
}

.monitor_light1{  /*light data*/
  top:2vh;
  text-align: center;
  font-size: 40px;
  font-weight: bold;  
  position: relative;
}

.monitor_detail{
  word-break: break-all;
  width: 105px;
  position:relative;
  font-size: 10px;
  left:187px;
  top:2.5vh;
  font-size: 18px;
}

.monitor_temp{
  top: 9vh;  
  width:150px;
  height: 190px;
  left: 100%;
  margin-left: -140px;
  border-radius: 12px; 
  background-image: linear-gradient(to bottom, #9e0000, #fae0e0);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.monitor_temp2{
  top:2vh;
  left: 5%;
  position: absolute;
  text-decoration:underline;
}

.monitor_cloud_pic{
  top:120px; 
  left: 65px;
  width:80px;
  height: 70px;
  position: absolute;
}

.monitor_temp1{
  top:40%;
  left: 20%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;  
  position: absolute;
}

.monitor_humi{
  top: 9vh;  
  width:150px;
  height: 190px;
  left: -4%; 
  border-radius: 12px; 
  background-image: linear-gradient(to bottom, #105293, #b9d4ef);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.monitor_humi2{
  top:2vh;
  left: 18%;
  position: absolute;
  text-decoration:underline;
}

.monitor_water_pic{
  top:120px; 
  left: 90px;
  width:110x;
  height: 80px;
  position: absolute;
}

.monitor_humi1{
  top:40%;
  left: 22%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;  
  position: absolute;
}