.body_monitor {
    background-color: #aebfb7;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    width:100vw;
  }

.monitor_top{
    height:5vh;
    width: 60vw;
    margin: 5vh 5vw;
    font-size: 7vmin;
    color:white;
    font-weight: bold;
    position: absolute;
}

.monitor_top1{
    height:5vh;
    width: 80vw;
    margin: 11vh 5vw;
    color:white;
    font-size: 7vmin;
    font-weight: bold;
    position: absolute;

}
  
.monitor_wea_pic{
   margin-top: 6vh;
   margin-left:78vw;
   position: absolute;
   width: 15vw;
 
}

.monitor_top2{
    font-size: 12vmin;
    color: white;
    margin-top:-9vh;
    padding-left:9vw;
    height:3vh;
    width:20vw;
    position: relative;
}

.monitor_top3{
    font-size: 4.5vmin;
    margin-top:14vh;
    margin-left:75.5vw;
    height:3vh;
    width:20vw;
    position: absolute;
}

.monitor_top4{
    font-size: 12vmin;
    color: white;
    margin-top:-16vh;
    padding-left:8vw;
    height:3vh;
    width:20vw;
    position: relative;
}

.monitor_top5{
    font-size: 12vmin;
    color: white;
    margin-top:-16vh;
    margin-left:8vw;
    height:3vh;
    width:20vw;
    position: relative;
}

.monitor_top6{
    font-size: 6vmin;
    color:black;
    margin-top:-20vh;
    margin-left:6vw;
    word-break: break-all;
    position: relative;
    width:30vw;
}

.monitor_light_pic{
    padding-top: 2vh;
    padding-left:2.5vw;
    position: relative;
    width: 35vw;
}

.monitor_detail_pic{
    padding-top: 2vh;
    padding-left:2.5vw;
    position: relative;
    width: 35vw;
}

.monitor_temp_pic{
    padding-top: 2vh;
    padding-left:2.5vw;
    position: relative;
    width:35vw;
}
    
.monitor_humi_pic{
    padding-top: 2vh;
    padding-left:2.5vw;
    position: relative;
    width:35vw;
}

.monitor_arrow_left{
    margin-top:63vh;
    margin-left: 2vw;
    width: 6vw;
    position:absolute;
}

.monitor_arrow_right{
    margin-top:63vh;
    margin-left: 92vw;
    width: 6vw;
    position:absolute;
}

.wrap_temp{
    margin-top:52vh;
    margin-left:10vw;
    position: absolute;
}

.wrap_humi{
    margin-top:52vh;
    margin-left:50vw;
    position: absolute;
}

.wrap_light{
    margin-top:23vh;
    margin-left:10vw;
    position: absolute;
}

.wrap_detail{
    margin-top:23vh;
    margin-left:50vw;
    position: absolute;
}

.footer_monitor{
    height: 12vh;
    width: 100%;
    background-color: #6b6767;
    margin-top:88vh ;
    position: absolute;
}


  
  