.body_control {
  background-color: #aebfb7;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  max-width: 425px;
}

.control_house_pic {
  margin-top: 2vh;
  margin-left: 5vw;
  margin-right: 5vw;
  position: relative;
  height: 33vh;
  width: 90vw;
}

.control_button1 {
  background-color: #ffa042;
  font-weight: bold;
  text-align: center;
  font-size: 5vmin;
  color: white;
  width: 35vw;
  height: 6vh;
  margin-top: 5vw;
  margin-left: 32.5vw;
  margin-right: 32.5vw;
  border: none;
  border-radius: 22px;
}

.control_button2 {
  background-color: #4e97ca;
  width: 80vw;
  height: 6vh;
  margin-top: 4vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.control_top {
  height: 5vh;
  width: 45vw;
  margin: 1vh 5vw;
  font-size: 5vmin;
  color: black;
  font-weight: bold;
  position: absolute;
}

.control_battery_pic {
  margin-top: 6vh;
  margin-left: 5.5vw;
  height: 13vh;
  width: 25.5vw;
}

.control_capacity_pic {
  margin-top: 6vh;
  margin-left: 5.5vw;
  height: 13vh;
  width: 25.5vw;
}

.control_light_pic {
  margin-top: 6vh;
  margin-left: 5.5vw;
  height: 13vh;
  width: 25.5vw;
}

.control_duration_pic {
  margin-top: 2vh;
  margin-left: 5.5vw;
  width: 40vw;
  height: 9.5vh;
}

.control_close_pic {
  margin-top: 2vh;
  margin-left: 7vw;
  height: 9.5vh;
  width: 40vw;
}

.control_top1 {
  height: 5vh;
  width: 10vw;
  margin: 16vh 12vw;
  font-size: 2vmin;
  color: #282b3a;
  font-weight: bold;
  position: absolute;
}

.control_top2 {
  margin: 16vh 42vw;
}

.control_top3 {
  margin: 16vh 76vw;
}

.control_top4 {
  margin: 8.5vh 24vw;
}

.control_top5 {
  margin: 8.5vh 74vw;
}

.control_input1 {
  margin: 12vh 12vw;
  font-size: 6.5vmin;
  color: #282b3a;
  font-weight: bold;
  position: absolute;
}

.control_input2 {
  font-size: 6vmin;
  margin: 12vh 40vw;
}

.control_input3 {
  font-size: 6.5vmin;
  margin: 12vh 74vw;
}

.control_input4 {
  font-size: 6vmin;
  margin: 4vh 23vw;
}

.control_input5 {
  font-size: 6vmin;
  margin: 4vh 70vw;
}

.footer_control {
  height: 11.924vh;
  width: 100%;
  background-color: #6b6767;
  margin-top: 2vh;
  position: absolute;
}
