.bodyyy {
  background-color: #aebfb7;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container-fluid {
  background: #aebfb7;
}

.homepage {
  display: block;
  margin: auto;
}

.rowww {
  margin-top: 30px;
  margin-bottom: 30px;
}

.top {
  margin-top: 40px;
  margin-bottom: 20px;
}

.top1 {
  margin-top: 50px;
}

.btn {
  width: 200px;
  height: 65px;
  margin-left: 0px;
  margin-right: 0px;
}

.wrapper1 {
  /* 設定高度最小為100%, 如果內容區塊很多, 可以再多 */
  min-height: 100%;
}

.content1 {
  /* 留出header及footer區塊的空間 */
  padding-bottom: 40px;
}

.footer1 {
  /* 設定footer的高度 */
  margin-left: -100px;
  height: 95px;
  background-color: #6b6767;
  box-sizing: border-box;
  /* 設定footer絕對位置在底部 */
}
