.body_camera {
  background-color: #aebfb7;
  /* background-color: transparent; */
  /* background-image: url(../../images/plant.jpg); */
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
  left: 0%;
  position: fixed;
  z-index: 1;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
  z-index: 999;
}

#canvas {
  display: none;
  z-index: 999;
}

.container {
  padding-right: 0;
  padding-left: 0;
}

.camera_top {
  background-color: white;
  opacity: 0.5;
  width: 100%;
  height: 10vh;
  left: 0%;
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.camera_pic1 {
  position: relative;
  top: 2vh;
  width: 40px;
  opacity: 1;
}

.camera_pic2 {
  position: relative;
  top: 2vh;
  width: 40px;
  opacity: 0.7;
}

.camera_pic3 {
  position: relative;
  top: 2vh;
  width: 50px;
  opacity: 0.6;
}

.camera_settings {
  margin-top: 50px;
}

.left_arrow {
  position: absolute;
  top: 70vh;
  width: 53px;
  opacity: 0.5;
  z-index: 2;
  margin-left: 23%;
}

.right_arrow {
  position: absolute;
  top: 70vh;
  width: 53px;
  opacity: 0.7;
  z-index: 2;
  margin-left: 65%;
}

.up_arrow {
  position: absolute;
  width: 40px;
  top: 60vh;
  opacity: 0.5;
  left: 50%;
  margin-left: -20px;
  z-index: 2;
}

.down_arrow {
  position: absolute;
  width: 40px;
  top: 78.5vh;
  opacity: 0.5;
  left: 50%;
  margin-left: -20px;
  z-index: 2;
}

.camera_shutter {
  position: absolute;
  top: 68vh;
  width: 70px;
  left: 50%;
  margin-left: -35px;
  opacity: 1;
  z-index: 2;
}

.max_enlarge {
  left: 88%;
  top: 23.5vh;
  font-size: 22px;
  position: absolute;
}

.MuiSlider-root.MuiSlider-vertical {
  height: 30% !important;
  top: 28%;
  left: 88%;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .body_camera {
    max-width: 768px;
    left: 50%;
    margin-left: -384px;
    border-radius: 0px;
    position: absolute;
  }

  .camera_top {
    max-width: 768px;
    left: 50%;
    margin-left: -384px;
  }

  .camera_pic1 {
    position: absolute;
    top: 2.3vh;
    width: 50px;
  }

  .camera_pic3 {
  }

  .left_arrow {
    position: absolute;
    top: 80vh;
    width: 53px;
    opacity: 0.5;
    z-index: 2;
    margin-left: 23%;
  }

  .right_arrow {
    position: absolute;
    top: 80vh;
    width: 53px;
    opacity: 0.7;
    z-index: 2;
    margin-left: 65%;
  }

  .up_arrow {
    position: absolute;
    width: 40px;
    top: 70vh;
    opacity: 0.5;
    left: 50%;
    margin-left: -20px;
    z-index: 2;
  }

  .down_arrow {
    position: absolute;
    width: 40px;
    top: 88.5vh;
    opacity: 0.5;
    left: 50%;
    margin-left: -20px;
    z-index: 2;
  }
  .camera_shutter {
    position: absolute;
    top: 78vh;
    width: 70px;
    left: 50%;
    margin-left: -35px;
    opacity: 1;
    z-index: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .body_camera {
    max-width: 425px;
    left: 50%;
    margin-left: -212.5px;
    border-radius: 12px;
    position: absolute;
  }

  .camera_top {
    max-width: 425px;
    left: 50%;
    margin-left: -212.5px;
  }

  .camera_pic1 {
    position: absolute;
    top: 2.3vh;
    width: 40px;
  }

  .camera_pic3 {
    /* margin-left: -10px; */
  }
}

@media only screen and (width: 768px) and (height: 1024px) {
  .body_camera {
    max-width: 768px;
    left: 50%;
    margin-left: -384px;
    border-radius: 0px;
    position: absolute;
  }

  .camera_top {
    max-width: 768px;
    left: 50%;
    margin-left: -384px;
  }

  .camera_pic1 {
    position: absolute;
    top: 2.3vh;
    width: 60px;
    left: 3vw;
  }

  .camera_pic2 {
    position: absolute;
    top: 2.3vh;
    left: 50%;
    margin-left: -30px;
    width: 60px;
  }

  .camera_pic3 {
    position: relative;
    top: 2vh;
    left: 30%;
    width: 70px;
  }

  .right_arrow {
    width: 70px;
    left: -20%;
  }

  .left_arrow {
    width: 70px;
    right: -20%;
  }

  .up_arrow {
    width: 54px;
    left: 50%;
    margin-left: -27px;
  }

  .down_arrow {
    width: 54px;
    left: 50%;
    margin-left: -27px;
    top: 89vh;
  }

  .camera_shutter {
    width: 100px;
    left: 50%;
    margin-left: -50px;
  }

  .max_enlarge {
    left: 87%;
    font-size: 30px;
  }
}

@media only screen and (width: 1024px) and (height: 1366px) {
  .body_camera {
    max-width: 1024px;
    left: 50%;
    margin-left: -512px;
    border-radius: 0px;
    position: absolute;
  }

  .camera_top {
    max-width: 1024px;
    left: 0%;
    margin-left: 0px;
  }

  .camera_pic1 {
    position: absolute;
    top: 2.3vh;
    width: 70px;
    left: 3vw;
  }

  .camera_pic2 {
    top: 2.3vh;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    position: absolute;
  }

  .camera_pic3 {
    position: relative;
    top: 2vh;
    left: 30%;
    width: 90px;
  }

  .right_arrow {
    width: 110px;
    left: -20%;
  }

  .left_arrow {
    width: 110px;
    right: -20%;
  }

  .up_arrow {
    width: 84px;
    left: 50%;
    top: 68.5vh;
    margin-left: -42px;
  }

  .down_arrow {
    width: 84px;
    left: 50%;
    top: 89.5vh;
    margin-left: -42px;
  }

  .camera_shutter {
    width: 140px;
    left: 50%;
    margin-left: -70px;
  }

  .max_enlarge {
    left: 86%;
    font-size: 40px;
  }
}
