

html,body, body * { 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;
    color:#6a6f8c;   /*login&register的字*/
 }




 body {
    background:#757575;  /*灰色背景*/
  }

 
  .container {       /*綠框的位子*/
      width: 100%;
      padding-top: 60px;
      padding-bottom: 100px;
  }

  

  .login-register-wrapper {    /*綠框*/
      height: 670px;
      width: 500px;               
      margin-left: auto;
      margin-right: auto;
      padding:0 2em;
      border-radius: 12px;   /*綠框的角->圓弧*/
      overflow: hidden; 
      background: #aebfb7;
  }
  
 
    .cover{
        height: 670px;
        width: 500px;               
        margin-left: -32px;
        margin-right: auto;
        padding:0 2em;
        border-radius: 12px;   /*綠框的角->圓弧*/
        overflow: hidden; 
        background-color:  #94a39c;

    }

    .verify {
        height: 200px;
        width:250px;
        border: 0;
        border-radius: 12px;   /*綠框的角->圓弧*/
        margin-top: 200px;
        margin-right: 150px;
        margin-left: 90px;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        text-align:center;
        background-color:rgba(255,255,255,.8);
    }

    .letterSize{     /*獲取驗證碼*/
        font-size: 20px;
        text-decoration:underline;
        font-weight:bold;
    }

    .verifySubmit{
        background-color: rgba(133, 132, 132, 0.8);
        border-radius: 25px;
        color:#fff;
        text-align: center;
        font-weight:bold;
        width:80px;
        height: 30px;
        margin-top: 15px;
        margin-left: 45px;
    }
